{% extends "base.html" %}

{% block title %}Acerca de - {{ app_name }}{% endblock %}

{% block content %}
    <h1>Acerca de {{ app_name }}</h1>
    <p>{{ app_name }} es una aplicación web dedicada a la exploración y descubrimiento de obras literarias. Nuestro objetivo es proporcionar una plataforma amigable y fácil de usar para que los amantes de los libros encuentren su próxima gran aventura de lectura.</p>
    <p>Desarrollado con Django, {{ app_name }} permite buscar libros por diversas categorías, visualizar sus portadas y leer sinopsis detalladas para ayudarte a elegir.</p>
{% endblock %}